/* globals.css */

body {
  margin: 0;
 font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Paragraph styling */
p {
  font-size: 18px;
  line-height: 1.7;
  color: #333;
  margin-bottom: 1rem;
}
